<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iiaprod.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ccd22e82-38d0-4eac-a8c3-cc5e00299dd0/resourceGroups/IIA-App/providers/Microsoft.Web/sites/iiaprod</ResourceId>
    <UserName>$iiaprod</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://iiaprod.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>